    /* * {
        box-sizing: border-box;
    } */


      body{
        background-color: hsl(233, 47%, 7%);
        min-height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
      }
  
      #card{
        width: 1110px;
        height: 446px;
        background-color: hsl(244, 38%, 16%);
        display: flex;
        flex-direction: row;
        border-radius: 10px;
      }
  
      .flex-item-left{
        flex: 51.35%;
        margin: 2.5% 11% 0% 6%;
      }
  
      .flex-item-right {
        flex: 48.65%;
        border-bottom-right-radius: 10px;
        border-top-right-radius: 10px;
      }

      #img-desktop{
        border-bottom-right-radius: 10px;
        border-top-right-radius: 10px;
      }

      #img-mobile{
        display: none;
      }

      .header{
        font-family: 'Inter', sans-serif;
        font-weight: 700;
        font-size: 36px;
        color: hsl(0, 0%, 100%);
      }

      .header a{
        color: hsl(277, 64%, 61%);
      }

      .column {
        float: left;
        width: 33.33%;
      }

      .top-container{
        color: hsl(0, 0%, 100%);
        font-size: 25px;
        font-weight: 700;
        font-family: 'Inter', sans-serif; ;
        margin-right: -10%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }

      .bottom-container{
        color: hsla(0, 0%, 100%, 0.75);
        text-transform: uppercase;
        font-family: 'Lexend Deca', sans-serif; 
        font-size: smaller;
        margin-right: -10%;
        margin-top: 10px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }

      .para{
        font-family: 'Inter', sans-serif;
        font-weight: 400;
        font-size: 15px;
        color: hsla(0, 0%, 100%, 0.75);
        margin-bottom: 18%;
        line-height: 1.7;
      }

    @media only screen and (max-width: 768px) {
      #card{
        width: 327px;
        height: 780px;
        margin: 88px 24px;
        flex-direction: column;
        border-radius: 10px;
      }

      #img-desktop{
        display: none;
      }

      .flex-item-left{
        padding: 0px 20px;
        flex: inherit;
        order: 2;
      }

      .flex-item-right {
        background-color: dodgerblue;
        flex: inherit;
        order: 1;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
      }

      #img-mobile{
        display: inherit;
        width: 100%;
        height: 100%;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
      }
      
    }